<html ng-app="chatApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="chat.js"></script>
</head>
<body>
<div ng-controller="ChatController">
	<p>Active users list:</p>
	<ul>
		<li ng-repeat="user in users">
		<span>{{user.login}}</span>
		<p>{{user.email}}</p>
		</li>
	</ul>
	<select ng-model="recipient">
		<option ng-repeat="user in users" ng-if="user.login != userLogin" value="{{user.user_id}}">{{user.login}}</option>
	</select>
	<p>Login: <input ng-model="userLogin"></p>
	<p>Password: <input type="password" ng-model="userPassword"></p>
	<input type="button" ng-click="loginToChat()" value="Login"/>
	<p ng-if="connectionStatus">Connection status: {{connectionStatus}}</p>
	<input ng-model="messageText" />
	<input type="button" ng-click="sendMessage()" value="Send message"/>
	<p>Messages:</p>
	<ul>
		<li ng-repeat="message in messages">
		<p>Message from {{message.from.login}} to {{message.to.login}}: {{message.text}}</p>
		</li>
	</ul>
</div>
</body>
</html>
